<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="utf-8">
    <title>行李类型</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="/static/layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="/static/layuiadmin/style/admin.css" media="all">
</head>
<body>

<div class="layui-form layui-fluid">
    <div class="layui-card">
        <div class="layui-card-header layuiadmin-card-header-auto">
            <div class="layui-form-item">


                <div class="layui-inline">
                    <label class="layui-form-label">手机号</label>
                    <div class="layui-input-inline">
                        <input type="text" name="s_key" placeholder="手机号" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">用户类型</label>
                    <div class="layui-input-inline">
                        <select name="s_type">
                            <option value="">请选择标签</option>
                            <option value="admin">后台用户</option>
                            <option value="page">前台用户</option>
                        </select>
                    </div>
                </div>
                <div class="layui-inline">
                    <button class="layui-btn layuiadmin-btn-list" lay-submit lay-filter="searchForm">
                        <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                    </button>
                </div>
            </div>
        </div>

        <div class="layui-card-body">
            <div style="padding-bottom: 10px;">
                <shiro:hasPermission name="sys:user:delete">
                    <button class="layui-btn layuiadmin-btn-list" data-type="deleteSome">删除</button>
                </shiro:hasPermission>
                <shiro:hasPermission name="sys:user:add">
                    <button class="layui-btn layuiadmin-btn-list" data-type="addUser">添加</button>
                </shiro:hasPermission>
            </div>
            <table id="userTable" lay-filter="userList" class="layui-table"></table>
            <script type="text/html" id="userStatus">
                {{#  if(d.delFlag == false){ }}
                <span class="layui-badge layui-bg-green">正常</span>
                {{#  } else { }}
                <span class="layui-badge layui-bg-gray">无效</span>
                {{#  } }}

                {{#  if(d.locked == false){ }}
                <span class="layui-badge layui-bg-green">启用</span>
                {{#  } else { }}
                <span class="layui-badge layui-bg-gray">锁定</span>
                {{#  } }}
            </script>

            <script type="text/html" id="userType">
                {{#  if(d.adminUser){ }}
                <span class="layui-badge layui-bg-gray">后台用户</span>
                {{#  } else { }}
                <span class="layui-badge layui-bg-green">前台用户</span>
                {{#  } }}
            </script>

            <script type="text/html" id="userBar">
                <shiro:hasPermission name="sys:user:lock">
                    {{# if(d.locked == false){ }}
                    <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="lock">锁定</a>
                    {{# } else { }}
                    <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="lock">启用</a>
                    {{# } }}
                </shiro:hasPermission>
                <shiro:hasPermission name="sys:user:edit">
                    <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit"><i
                            class="layui-icon layui-icon-edit"></i>编辑</a>
                </shiro:hasPermission>
                <shiro:hasPermission name="sys:user:delete">
                    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i
                            class="layui-icon layui-icon-delete"></i>删除</a>
                </shiro:hasPermission>
            </script>
        </div>
    </div>
</div>

<script src="/static/layuiadmin/layui/layui.js"></script>
<script type="text/javascript" th:src="@{/static/admin/js/user/userList.js}"></script>
<script>

</script>
</body>
</html>
