<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhongyi.admin.mapper.KehuMapper">

    <resultMap type="com.zhongyi.admin.entity.Kehu" id="kehuMap">
        <id property="id" column="id"/>
        <result property="phone" column="phone"/>
        <result property="name" column="name"/>
        <result property="sex" column="sex"/>
        <result property="comment" column="comment"/>
        <result property="createDate" column="create_date"/>
        <result property="yaoqingma" column="yaoqingma"/>
        <result property="beiyaoqingma" column="beiyaoqingma"/>
    </resultMap>



</mapper>